<div class="info-card" style="padding: 0 4rem; width:100%; background-color:#f7f7f7 !important">
    @*<img src="~/img/demo/avatars/@(Settings.Theme.Avatar)" class="profile-image rounded-circle" alt="@(Settings.Theme.User)">
        <div class="info-card-text">
            <a href="#" class="d-flex align-items-center text-white">
                <span class="text-truncate text-truncate-sm d-inline-block">
                    @(Settings.Theme.User)
                </span>
            </a>
            <span class="d-inline-block text-truncate text-truncate-sm">Guerrero</span>
        </div>*@
    @*<img src="~/img/card-backgrounds/covert-guerrero.png" class="cover" alt="cover" style="height: 100%;">*@
    <img src="~/img/card-backgrounds/LOGOTLAXCALA.png" alt="cover" style="height: auto; width:100%">
    <a href="#" onclick="return false;" class="pull-trigger-btn" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar" data-focus="nav_filter_input">
        <i class="@(Settings.Theme.IconPrefix) fa-angle-down"></i>
    </a>
</div>