@model SmartBoard.Data.Models.SmartBoard.TblObraPago

@{
    ViewData["PageName"] = "registro_obra";
    ViewData["Title"] = "Create";
    int idObra = ((int)ViewData["miIdObra"]);

}

<h1>Crear Pago</h1>



<div>
    <a asp-action="EditExpediente" asp-controller="TblObras" asp-route-id="@idObra">Regresar a la obra</a>
</div>


<div class="row">
    <div class="col-md-4">
        <form class="needs-validation was-validated" novalidate asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTblobra" value="@idObra" />
            <input type="hidden" asp-for="IdFactura" value="0" />

            @* <div class="form-group">
            <label asp-for="IdTblobra" class="control-label"></label>
            <select asp-for="IdTblobra" class ="form-control" asp-items="ViewBag.IdTblobra"></select>
            </div>*@
            @*<div class="form-group">
            <label asp-for="IdFactura" class="control-label">Id Factura</label>
            <input asp-for="IdFactura" required class="form-control" />
            <span asp-validation-for="IdFactura" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" required class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumFactura" class="control-label">Numero Factura</label>
                <input asp-for="NumFactura" required class="form-control" />
                <span asp-validation-for="NumFactura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFactura" class="control-label">Fecha Factura</label>
                <input asp-for="FechaFactura" required type="date" data-date-format="DD/MM/YYY" class="form-control" />
                <span asp-validation-for="FechaFactura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SolicitudPago" class="control-label">Solicitud Pago</label>
                <input asp-for="SolicitudPago" required class="form-control" />
                <span asp-validation-for="SolicitudPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrdenPago" class="control-label">Orden Pago</label>
                <input asp-for="OrdenPago" required class="form-control" />
                <span asp-validation-for="OrdenPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImporteTotal" class="control-label">Importe Total</label>
                <input asp-for="ImporteTotal" required class="form-control" />
                <span asp-validation-for="ImporteTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pago" class="control-label"></label>
                <input asp-for="Pago" required class="form-control" />
                <span asp-validation-for="Pago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaPago" class="control-label">Fecha Pago</label>
                <input asp-for="FechaPago" required type="date" data-date-format="DD/MM/YYY" class="form-control" />
                <span asp-validation-for="FechaPago" class="text-danger"></span>
            </div>
            @* <div class="form-group form-check">
            <label class="form-check-label">
            <input class="form-check-input" asp-for="Activo" /> @Html.DisplayNameFor(model => model.Activo)
            </label>
            </div>*@
            @* <div class="form-group">
            <label asp-for="Registro" class="control-label"></label>
            <input asp-for="Registro" class="form-control" />
            <span asp-validation-for="Registro" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
            <label asp-for="RutaArchivoFactura" class="control-label"></label>
            <input asp-for="RutaArchivoFactura" class="form-control" />
            <span asp-validation-for="RutaArchivoFactura" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="RutaArchivoEvidencia" class="control-label"></label>
            <input asp-for="RutaArchivoEvidencia" class="form-control" />
            <span asp-validation-for="RutaArchivoEvidencia" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="NombreArchivoFactura" class="control-label"></label>
            <input asp-for="NombreArchivoFactura" class="form-control" />
            <span asp-validation-for="NombreArchivoFactura" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="NombreArchivoEvidencia" class="control-label"></label>
            <input asp-for="NombreArchivoEvidencia" class="form-control" />
            <span asp-validation-for="NombreArchivoEvidencia" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="EditExpediente" asp-controller="TblObras" asp-route-id="@idObra">Regresar a la obra</a>
</div>


@section ScriptsBlock {
    <script type="text/javascript">
        (function () {

            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();



    </script>
}

