@model SmartBoard.Models.ExpedienteViewModalDetalle
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

@*<div class="col-sm-12">
    <div class="panel-container show">
        <div class="panel-content">*@
            <table id="dt-obras-documentos-planea" class="table table-bordered table-hover table-striped w-100">
                <thead class="bg-warning-200">
                    <tr>
                        <th>#</th>
                        <th>Estatus</th>
                        <th>Documento</th>
                        <th>Aprobado</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        @*</div>
    </div>
</div>*@
