@model SmartBoard.Data.Models.SmartBoard.TblObra

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TblObra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Idpoadetalle" class="control-label"></label>
                <select asp-for="Idpoadetalle" class="form-control" asp-items="ViewBag.Idpoadetalle"></select>
                <span asp-validation-for="Idpoadetalle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Region" class="control-label"></label>
                <input asp-for="Region" class="form-control" />
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idmunicipio" class="control-label"></label>
                <select asp-for="Idmunicipio" class="form-control" asp-items="ViewBag.Idmunicipio"></select>
                <span asp-validation-for="Idmunicipio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idlocalidad" class="control-label"></label>
                <select asp-for="Idlocalidad" class="form-control" asp-items="ViewBag.Idlocalidad"></select>
                <span asp-validation-for="Idlocalidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iddependencia" class="control-label"></label>
                <select asp-for="Iddependencia" class="form-control" asp-items="ViewBag.Iddependencia"></select>
                <span asp-validation-for="Iddependencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idestadoobra" class="control-label"></label>
                <select asp-for="Idestadoobra" class="form-control" asp-items="ViewBag.Idestadoobra"></select>
                <span asp-validation-for="Idestadoobra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idestadorevision" class="control-label"></label>
                <select asp-for="Idestadorevision" class="form-control" asp-items="ViewBag.Idestadorevision"></select>
                <span asp-validation-for="Idestadorevision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idprogsog" class="control-label"></label>
                <select asp-for="Idprogsog" class="form-control" asp-items="ViewBag.Idprogsog"></select>
                <span asp-validation-for="Idprogsog" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idvertiente" class="control-label"></label>
                <select asp-for="Idvertiente" class="form-control" asp-items="ViewBag.Idvertiente"></select>
                <span asp-validation-for="Idvertiente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idsubvertiente" class="control-label"></label>
                <select asp-for="Idsubvertiente" class="form-control" asp-items="ViewBag.Idsubvertiente"></select>
                <span asp-validation-for="Idsubvertiente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idcategoria" class="control-label"></label>
                <select asp-for="Idcategoria" class="form-control" asp-items="ViewBag.Idcategoria"></select>
                <span asp-validation-for="Idcategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idunidadmedida" class="control-label"></label>
                <select asp-for="Idunidadmedida" class="form-control" asp-items="ViewBag.Idunidadmedida"></select>
                <span asp-validation-for="Idunidadmedida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idejecutor" class="control-label"></label>
                <select asp-for="Idejecutor" class="form-control" asp-items="ViewBag.Idejecutor"></select>
                <span asp-validation-for="Idejecutor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ideje" class="control-label"></label>
                <select asp-for="Ideje" class="form-control" asp-items="ViewBag.Ideje"></select>
                <span asp-validation-for="Ideje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numeroobra" class="control-label"></label>
                <input asp-for="Numeroobra" class="form-control" />
                <span asp-validation-for="Numeroobra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombreobra" class="control-label"></label>
                <input asp-for="Nombreobra" class="form-control" />
                <span asp-validation-for="Nombreobra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inversion" class="control-label"></label>
                <input asp-for="Inversion" class="form-control" />
                <span asp-validation-for="Inversion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fuentefinanciamiento" class="control-label"></label>
                <input asp-for="Fuentefinanciamiento" class="form-control" />
                <span asp-validation-for="Fuentefinanciamiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coordenadax" class="control-label"></label>
                <input asp-for="Coordenadax" class="form-control" />
                <span asp-validation-for="Coordenadax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coordenaday" class="control-label"></label>
                <input asp-for="Coordenaday" class="form-control" />
                <span asp-validation-for="Coordenaday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inaguracion" class="control-label"></label>
                <input asp-for="Inaguracion" class="form-control" />
                <span asp-validation-for="Inaguracion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeriodoInforme" class="control-label"></label>
                <input asp-for="PeriodoInforme" class="form-control" />
                <span asp-validation-for="PeriodoInforme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Porcentajeavance" class="control-label"></label>
                <input asp-for="Porcentajeavance" class="form-control" />
                <span asp-validation-for="Porcentajeavance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fechainicio" class="control-label"></label>
                <input asp-for="Fechainicio" class="form-control" />
                <span asp-validation-for="Fechainicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fechatermino" class="control-label"></label>
                <input asp-for="Fechatermino" class="form-control" />
                <span asp-validation-for="Fechatermino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Posibleconflicto" class="control-label"></label>
                <input asp-for="Posibleconflicto" class="form-control" />
                <span asp-validation-for="Posibleconflicto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Georeferenciado" class="control-label"></label>
                <input asp-for="Georeferenciado" class="form-control" />
                <span asp-validation-for="Georeferenciado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroreferenciaCiceco" class="control-label"></label>
                <input asp-for="NumeroreferenciaCiceco" class="form-control" />
                <span asp-validation-for="NumeroreferenciaCiceco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagenobra" class="control-label"></label>
                <input asp-for="Imagenobra" class="form-control" />
                <span asp-validation-for="Imagenobra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacionesrevision" class="control-label"></label>
                <input asp-for="Observacionesrevision" class="form-control" />
                <span asp-validation-for="Observacionesrevision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecharegistro" class="control-label"></label>
                <input asp-for="Fecharegistro" class="form-control" />
                <span asp-validation-for="Fecharegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeneficiarioNombre" class="control-label"></label>
                <input asp-for="BeneficiarioNombre" class="form-control" />
                <span asp-validation-for="BeneficiarioNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeneficiarioDomicilio" class="control-label"></label>
                <input asp-for="BeneficiarioDomicilio" class="form-control" />
                <span asp-validation-for="BeneficiarioDomicilio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numeroobraexterno" class="control-label"></label>
                <input asp-for="Numeroobraexterno" class="form-control" />
                <span asp-validation-for="Numeroobraexterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InversionFederal" class="control-label"></label>
                <input asp-for="InversionFederal" class="form-control" />
                <span asp-validation-for="InversionFederal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InversionEstatal" class="control-label"></label>
                <input asp-for="InversionEstatal" class="form-control" />
                <span asp-validation-for="InversionEstatal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InversionMunicipal" class="control-label"></label>
                <input asp-for="InversionMunicipal" class="form-control" />
                <span asp-validation-for="InversionMunicipal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InversionBeneficiario" class="control-label"></label>
                <input asp-for="InversionBeneficiario" class="form-control" />
                <span asp-validation-for="InversionBeneficiario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadBeneficioHombre" class="control-label"></label>
                <input asp-for="CantidadBeneficioHombre" class="form-control" />
                <span asp-validation-for="CantidadBeneficioHombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadBeneficioMujer" class="control-label"></label>
                <input asp-for="CantidadBeneficioMujer" class="form-control" />
                <span asp-validation-for="CantidadBeneficioMujer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadUnidadmedida" class="control-label"></label>
                <input asp-for="CantidadUnidadmedida" class="form-control" />
                <span asp-validation-for="CantidadUnidadmedida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expediente" class="control-label"></label>
                <input asp-for="Expediente" class="form-control" />
                <span asp-validation-for="Expediente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvanceFinanciero" class="control-label"></label>
                <input asp-for="AvanceFinanciero" class="form-control" />
                <span asp-validation-for="AvanceFinanciero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

