@page
@model LoginModel
@{
    ViewData["PageName"] = "login";
}

<style>
    .page-wrapper {
background-position: center !important;
background-repeat:repeat !important;
background-size: cover !important;
background-color: #5c0623 !important;
}

    #BIENVENIDO_A_SmartBoard {
        left: 323px;
        top: 334px;
        /* position: absolute;
        overflow: visible;*/
        width: 317px;
        white-space: nowrap;
        text-align: center;
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 43px;
        color: rgba(112,112,112,1);
    }
</style>
@section Header {
    <link rel="stylesheet" media="screen, print" href="~/css/fa-brands.css">
}
@section PageHeading {
  @*  <div class="col-sm-1"> </div>*@
    
        @*<div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 ml-auto text-center">*@

        


        @*<div class="row">
            <div class="col-sm-12">
                <div class="float-right">
                    <label>LOGIN</label>
                </div>
            </div>

        </div>*@
       @* <div class="row">

           
        </div>*@
        <div  class="text-center" style="position: absolute;
transform: translate3d(-50%, -50%, 0);
left: 50%;
top: 50%;">


            <div style="display:grid !important; place-items:center !important; width:100%; max-width:400px !important; position:relative; margin:0 auto; background-color: #e2dfd8 !important; box-shadow: -1px 2px 17px -2px rgba(0,0,0,0.75) !important;
-webkit-box-shadow: -1px 2px 17px -2px rgba(0,0,0,0.75) !important;
-moz-box-shadow: -1px 2px 17px -2px rgba(0,0,0,0.75) !important; " class="card p-4 ">



             
            <img src="~/img/card-backgrounds/puebla.jpeg" alt="cover" style="height: auto; width: 55%; margin-bottom:20px !important">
        
           

                 <h2 class="fs-xxl fw-500 text-white text-center Avenir">
                <label style="color: #5f605b; font-size: 1.3rem !important;">Bienvenido a</label> <label style="color: #5f605b; font-weight:bold; font-size: 1.3rem !important;">AditGob</label>
                <small class="h3 fw-300 mt-3 mb-5 text-white" style="font-size: 17px !important; color: #c00034 !important; font-weight:bold !important;  ">
                   @* Comisión de Infraestructura, Carretera y Aeroportuaria del Estado de Guerrero*@
                    Control de Obras y Adquisiciones
                </small>
            </h2>


                <form id="js-login" method="post" style="width:100% !important; max-width:100% !important">
                    <div asp-validation-summary="All" class="alert alert-primary text-dark" style="color: #721c24 !important;
background-color: #f8d7da !important; border-color: #f5c6cb !important;"></div>
                    
                        @*<label class="form-label" asp-for="Input.Email">Username</label>*@
                        <input type="email" asp-for="Input.Email" class="form-control" placeholder="usuario@dominio.com" required="required" style="width:100% !important; max-width:100% !important" />
                        <span class="invalid-feedback" asp-validation-for="Input.Email" style="color: #721c24 !important;
background-color: #f8d7da !important; border-color: #f5c6cb !important;">El correo el requerido </span>
                        @*<div class="help-block">The email address you registered with</div>*@
                   <br />

                    
                        @*<label class="form-label" asp-for="Input.Password">Password</label>*@
                        <input type="password" asp-for="Input.Password" class="form-control" placeholder="Contraseña" required="required" />
                        <span class="invalid-feedback" asp-validation-for="Input.Password" style="color: #721c24 !important;
background-color: #f8d7da !important; border-color: #f5c6cb !important;">El password es requerido</span>
                        @*<div class="help-block">The password you specified during registration</div>*@
                  <br />

                    

                        
                            <button id="js-login-btn" type="submit" class="btn btn-default btn-block btn-lg" style="width:100% !important; max-width:100% !important; background-color:#c00034!important ">ACCESO</button>
                        
                    

                </form>
            </div>
        </div>
    
   @* <div class="col-sm-1"> </div>
    <div class="col-md-6">
        <img id="milogo" src="~/img/man-recording-studio.png" alt="man" aria-roledescription="logo" style="width:100%; height:100%;">


    </div>*@
}


@*<div class="col col-md-6 col-lg-6  hidden-sm-down mod-skin-dark">*@

@*<div class="col-sm-2"> </div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $("#js-logsin-btn").click(function (event) {
            // Fetch form to apply custom Bootstrap validation
            var form = $("#js-login");

            if (form[0].checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }

            form.addClass('was-validated');
            // Perform ajax submit here...
        });
    </script>
}
