@model SmartBoard.Data.Models.SmartBoard.TblObraconcepto

@{
    ViewData["PageName"] = "registro_obra";
    ViewData["Title"] = "Create";
    int idObra = ((int)ViewData["miIdObra"]);
    int tipo = ((int)ViewData["tipo"]);
}



<div>
    <a asp-action="EditExpediente" asp-controller="TblObras" asp-route-id="@idObra">Regresar a la obra</a>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" class="needs-validation was-validated" novalidate id="myform">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTblobra" value="@idObra" />
            <input type="hidden" asp-for="Idtipoconcepto" value="@tipo" />

            <div class="form-group">
                <label asp-for="Idtipoconcepto" class="control-label">Concepto</label>
                <select asp-for="Idtipoconcepto" class="form-control" required asp-items="ViewBag.Idtipoconcepto"></select>
            </div>
            <div class="form-group">
                <label asp-for="Clave" class="control-label"></label>
                <input asp-for="Clave" class="form-control" required />
                <span asp-validation-for="Clave" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Concepto" class="control-label"></label>
                <input asp-for="Concepto" class="form-control" required />
                <span asp-validation-for="Concepto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Unidad" class="control-label"></label>
                <input asp-for="Unidad" class="form-control" required />
                <span asp-validation-for="Unidad" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PrecioUnitario" class="control-label">Precio Unitorio</label>
                <input asp-for="PrecioUnitario" class="form-control" required pattern="^\d*(\.\d{0,2})?$" />
                <span asp-validation-for="PrecioUnitario" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" required pattern="^[0-9]*$" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            @* <div class="form-group">
            <label asp-for="Importe" class="control-label"></label>
            <input asp-for="Importe" class="form-control" />
            <span asp-validation-for="Importe" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="EditExpediente" asp-controller="TblObras" asp-route-id="@idObra">Regresar a la obra</a>
</div>



@section ScriptsBlock {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        (function () {

            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

    </script>

    <script>
        $(function () {

            $("#Clave").change(function(){

                var _clave = $("#Clave").val();
                var _IdTblobra = $("#IdTblobra").val();
                var _Idtipoconcepto = $("#Idtipoconcepto").val();

                $("#Clave").rules("add", {
                    required: true,
                    remote: {
                        url: "ObraConcepto/VerificaClave?clave=" + _clave + "&IdTblobra=" + _IdTblobra + "&Idtipoconcepto=" + _Idtipoconcepto,
                        type: "post",
                        data: {
                            clave: function () {
                                return $("#Clave").val();
                            },
                            IdTblobra: function () {
                                return $("#IdTblobra").val();
                            },
                            Idtipoconcepto: function () {
                                return $("#Idtipoconcepto").val();
                            }
                        }
                    },
                        messages: { min: 'El valor minimo es ' }
                    });

                //$("#myform").validate({
                //    rules: {
                //        Clave: {
                //            required: true,
                //            remote: {
                //                url: "ObraConceptoController/VerificaClave",
                //                type: "post",
                //                data: {
                //                    clave: function () {
                //                        return $("#clave").val();
                //                    },
                //                    IdTblobra: function () {
                //                        return $("#IdTblobra").val();
                //                    },
                //                    Idtipoconcepto: function () {
                //                        return $("#Idtipoconcepto").val();
                //                    }
                //                }
                //            }
                //        }
                //    }
                //});

            })

            

             });
    </script>
}